.settings
SimpleWebServer.*
big.zip
Octavio/
WebContent/data/svg_gzip_test/*.svg
*.gz
WebContent/node_modules
WebContent/server.js
WebContent/server*.js
result.csv
WebContent/*.csv
measure
measure2
tmp/
bargraph/
~$*
AndroidSvgNaviMap/assets/svgnavimap/
AndroidSvgNaviMap/bin/
AndroidSvgNaviMap/gen/
/WebContent/data/out.zip
local.properties
.idea
.gradle
gradle
build
AndroidSvgNaviMap/target/
/WebContent/data/*.new
*flees*
/WebContent/data/sbs95e_before_new_aps.arff
