html(lang="en")
  head
  body
    p
      a(href='/usersView.html') user view
    p
      a(href='/editorsView.html') editor view
    - each app in apps
      p
        div scan for html+js app update
        div!=app.qr
        a(href='#{app.applink}') #{app.applink}